a:hover { 
  background-color: rosybrown;
}
img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

h1 {
    
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px grey;
    margin-top: 80px;
    padding: 30px;
    
}

p{
    font-family: sans-serif;
    color: white;
    margin-top: 80px;
    padding: 30px; 
    
}